@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-IBM: "IBM Plex Mono", sans-serif;

  --color-Primary: #E3621C;
  --color-Secondary: #083E5F;


}


.text {
  color: var(--color-btn-text);
}


/*Swiper  */
.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 13px;
  font-weight: bold;
}




.btn-primary {
  background-color: var(--color-Secondary);
  color: #ffffff;
  padding: 10px 26px;
  border: 2px solid var(--color-btn-text);
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;

  display: inline-flex;
  align-items: center;
  
  justify-content: center;
  gap: 8px;

  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-Primary);
  transform: scale(1.05);
  border: 2px solid var(--color-Primary);
}

.btn-primary:active {
  transform: scale(0.97);
}




/* button secondary */

.btn-Secondary {
  color: #000;
  border: 2px solid var(--color-Primary);
  padding: 10px 26px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn-Secondary:hover {
  background-color: var(--color-Primary);
  transform: scale(1.05);
  /* শুধু zoom */
  color: #ffffff;
}

.btn-Secondary:active {
  transform: scale(0.97);
}

/* bg-btn */
.bg-btn {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 28px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.bg-btn:hover {
  background-color: var(--color-btn-text);
  transform: scale(1.05);
  /* শুধু zoom */
  color: #ffffff;
  border: 2px solid var(--color-btn-text);
}

.bg-btn:active {
  transform: scale(0.97);
}